.Apresentation {
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0 120px;
    gap: 32px;
}

.Apresentation div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.Apresentation div img {
    width: 56px;
    border: 2px solid var(--gray2);
    border-radius: 100%;
}

.Apresentation p {
    color: var(--gray3);
    font-weight: 400;
    font-size: 12px;
}

.Apresentation h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    width: 800px;
}
