.Habilities {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark2);
    padding: 120px 0;
    gap: 48px;
    position: relative;
}

.Title {
    text-align: center;
}
.Title p {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: var(--red2);
}

.Title h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: var(--gray3);
}

.Cards {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark3);
    padding: 60px 40px;
    gap: 36px;
    text-align: center;
    border-radius: 8px;
    transition: All 0.3s;
    animation: carddown 0.3s forwards;
}

.Card:hover {
    background: var(--red2);
    box-shadow: var(--shadow-red);
    animation: cardup 0.3s forwards;
}

.Card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.Card img {
    transition: All 0.3s;
}

.Card:hover img {
    filter: invert(98%) sepia(9%) saturate(26%) hue-rotate(245deg)
        brightness(111%) contrast(95%);
}

.Card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--white);
    width: 160px;
}

.Card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    width: 230px;
}

.Arrow-down {
    position: absolute;
    top: calc(0% - 36px / 2);
    animation: arrowupdown 4s infinite ease-in-out;
}

@keyframes arrowupdown {
    from {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(4px);
    }

    to {
        transform: translateY(-4px);
    }
}

@keyframes cardup {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-12px);
    }
}

@keyframes carddown {
    from {
        transform: translateY(-12px);
    }

    to {
        transform: translateY(0px);
    }
}
