.Menu {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(140, 4, 28, 0.1);
    height: 80px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.Menu div {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Logo {
    position: absolute;
    left: 0;
    top: calc(50% - 32px / 2);
}

.Menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 8px;
    position: absolute;
    right: calc(50% - 563px / 2);
    top: calc(50% - 41px / 2);
}

.Menu li {
    color: var(--white);
    display: flex;
    align-items: center;
}

.Menu li a {
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    transition: All 0.2s;
}

.Menu li a:hover {
    cursor: pointer;
    background: var(--red1);
    border-radius: 8px;
}

.RedButton {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 2px solid var(--red2);
    border-radius: 8px;
    background: transparent;
    color: var(--white);
    transition: Background 0.2s;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%;
    position: absolute;
    right: 0;
    top: calc(50% - 44px / 2);
    animation: slideof 0.2s forwards;
}

button:hover {
    background: var(--red2);
    border: 2px solid var(--red2);
    color: var(--gray2);
    cursor: pointer;
    animation: slidein 0.2s forwards;
}

@keyframes slidein {
    from {
        gap: 8;
    }

    to {
        gap: 24px;
    }
}

@keyframes slideof {
    from {
        gap: 24px;
    }

    to {
        gap: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .Logo {
        position: initial;
    }
    .Menu div {
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .Menu ul {
        display: none;
    }
    .RedButton {
        display: none;
    }
}
